---
layout: page
---
<% page.posts.each(function(post){ %>
<div class="post-preview">

    <a href="<%- config.root %><%- post.path %>">
        <h2 class="post-title">
            <%- post.title || "Untitled" %>
        </h2>
        <h3 class="post-subtitle">
            <%- post.subtitle || "" %>
        </h3>
        <div class="post-content-preview">
            <% 
            var content = post.content;
            content = content.replace(/{%\s*aplayer[^%}]*%}/g, '');
            content = content.replace(/{%\s*meting[^%}]*%}/g, '');
            content = content.replace(/{%\s*aplayerlrc[\s\S]*?{%\s*endaplayerlrc\s*%}/g, '');
            content = content.replace(/{%\s*aplayerlist[\s\S]*?{%\s*endaplayerlist\s*%}/g, '');
            content = content.replace(/<div[^>]*aplayer[^>]*>[\s\S]*?<\/div>/g, '');
            content = content.replace(/<script[\s\S]*?APlayer[\s\S]*?<\/script>/g, '');
            content = content.replace(/<pre[^>]*aplayer-lrc-content[^>]*>[\s\S]*?<\/pre>/g, '');
            %>
            <%- truncate(strip_html(content), {length: 800, omission: '...'}) %>...
        </div>
    </a>
    <p class="post-meta" style="margin: 10px 0;">
        <%= post.date.format(config.date_format) %>
    </p>

</div>
<hr>
<% }); %>

<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
</ul>

