<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

<body ontouchstart="" class="<%= (config.brand && ((config.brand.hide_home_header && is_home()) || (config.brand.hide_tags_header && page && page.layout === 'tags'))) ? 'no-home-header' : '' %>">
	<%- partial('_partial/header',{cache: true}) %>
	
    <%- partial('_partial/nav',{cache: true}) %>

    <%- body %>

    <%- partial('_partial/footer') %>

<!-- Migrate from head to bottom, no longer block render and still work -->
</body>

</html>
