---
layout: layout
---
<!-- Main Content -->
<div class="container">
    <div class="row">
        <% if(config.sidebar && is_home()) { %>
<!-- USE SIDEBAR -->
    <!-- Sidebar Container -->
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs sidebar-container">
        <% config.widgets.forEach(function(widget){ %>
            <%- partial('_widget/' + widget) %>
            <hr>
        <% }) %>
    </div>

    <!-- Post Container -->
    <div class="layout-container post-container">
        <%- page.content || body %>

        <% if(page.comments && config['disqus_username']) { %>
            <hr>
            <div class="comment">
                <div id="disqus_thread" class="disqus-thread" data-disqus-identifier="<%= page.permalink %>" data-disqus-url="<%= page.permalink %>"></div>
            </div>
        <% } %>
    </div>
        <%} else { %>
<!-- NO SIDEBAR -->
    <!-- Post Container -->
            <div class="layout-container post-container">
                <%- page.content || body %>
            </div>
        <%} %>
    </div>
</div>
