---
layout: layout
---
<div class="container">
    <div class="row">
        <div class="layout-container">
            <div class="tag-filter-header">
                <h1 class="tag-filter-title">Filter by Tags</h1>
                <button id="tag-clear" class="tag-clear" type="button">Clear all</button>
            </div>

            <div id="tag_cloud" class="tag-chip-list">
                <% site.tags.sort('name').forEach(function(tag){ %>
                    <button type="button" class="tag-chip" data-tag="<%= tag.name %>">
                        <span class="tag-chip-name"><%= tag.name %></span>
                        <span class="tag-chip-count"><%= tag.length %></span>
                    </button>
                <% }) %>
            </div>

            <h2 id="tag-posts-title" class="tag-posts-title">All Posts (<%= site.posts.length %>)</h2>

            <ul id="tag-posts" class="tag-post-list">
                <% site.posts.sort('date').reverse().forEach(function(post){ %>
                    <% var tagNames = post.tags.map(function(t){ return t.name; }).join('|'); %>
                    <li class="tag-post-row" data-tags="<%= tagNames %>">
                        <a class="tag-post-title" href="<%- config.root %><%- post.path %>"><%- post.title || "Untitled" %></a>
                        <span class="tag-post-dots"></span>
                        <span class="tag-post-date"><%= post.date.format(config.date_format) %></span>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
