---
layout: page
---
<!-- Main Content -->

<% page.posts.each(function(post){ %>
<div class="post-preview">

    <a href="<%- config.root %><%- post.path %>">
        <h2 class="post-title">
            <%- post.title || "Untitled" %>
        </h2>
        <h3 class="post-subtitle">
            <%- post.subtitle || "" %>
        </h3>
        <div class="post-content-preview">
            <% 
            // 在strip_html之前移除APlayer相关标签和生成的HTML内容
            var content = post.content;
            // 移除aplayer标签（单行格式）
            content = content.replace(/{%\s*aplayer[^%}]*%}/g, '');
            // 移除meting标签
            content = content.replace(/{%\s*meting[^%}]*%}/g, '');
            // 移除aplayerlrc标签对
            content = content.replace(/{%\s*aplayerlrc[\s\S]*?{%\s*endaplayerlrc\s*%}/g, '');
            // 移除aplayerlist标签对
            content = content.replace(/{%\s*aplayerlist[\s\S]*?{%\s*endaplayerlist\s*%}/g, '');
            // 移除APlayer生成的HTML结构
            content = content.replace(/<div[^>]*aplayer[^>]*>[\s\S]*?<\/div>/g, '');
            // 移除APlayer相关的script标签
            content = content.replace(/<script[\s\S]*?APlayer[\s\S]*?<\/script>/g, '');
            // 移除歌词内容（pre标签内的aplayer-lrc-content）
            content = content.replace(/<pre[^>]*aplayer-lrc-content[^>]*>[\s\S]*?<\/pre>/g, '');
            %>
            <%- truncate(strip_html(content), {length: 800, omission: '...'}) %>...
        </div>
    </a>
    <% if (config.home_posts_tag){%>
        <p class="post-meta" style="margin: 10px 0;">
            Posted by <%- post.author || config.author %> on
            <%= post.date.format(config.date_format) %>
        </p>
        <div class="tags">
            <% post.tags.forEach(function(tag){ %>
              <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
        </div>
    <%} else {%>
        <p class="post-meta">
            Posted by <%- post.author || config.author %> on
            <%= post.date.format(config.date_format) %>
        </p>
    <%}%>

</div>
<hr>
<% }); %>


<!-- Pager -->

<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
</ul>

