<footer>
    <div class="container">
        <div class="row">
            <div class="layout-container">
                <ul class="list-inline text-center">
                <% if (config.RSS) { %>
                    <li>
                        <a href="<%= config.root + 'feed.xml' %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.twitter_username) { %>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/<%= config.twitter_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.zhihu_username) { %>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.weibo_username) { %>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://weibo.com/<%= config.weibo_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.facebook_username) { %>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/<%= config.facebook_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.linkedin_username) { %>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                </ul>
                <p class="copyright text-muted text-center">
                    Copyright &copy; <%= config.author %> <%= new Date().getFullYear() %> 
                    <br>
                </p>
            </div>
        </div>
    </div>
</footer>

<% var v = (theme && theme.asset_version) ? theme.asset_version : ''; %>
<% var vs = v ? ('?v=' + v) : ''; %>

<% if (page && page.layout === 'tags') { %>
<script src="<%= url_for('js/tags-filter.js') %><%= vs %>"></script>
<% } %>

<% var hasLivePhoto = false; %>
<% try { %>
<%   if (page && page.content && page.content.indexOf('data-live-photo') !== -1) { %>
<%     hasLivePhoto = true; %>
<%   } %>
<% } catch (e) { %>
<%   hasLivePhoto = false; %>
<% } %>
<% if (hasLivePhoto) { %>
<script src="https://cdn.apple-livephotoskit.com/lpk/1/livephotoskit.js"></script>
<% } %>

<script>
    (function () {
        function isIOS() {
            var ua = navigator.userAgent || "";
            if (/iP(hone|od|ad)/.test(ua)) return true;
            if (navigator.platform === "MacIntel" && navigator.maxTouchPoints && navigator.maxTouchPoints > 1) return true;
            return false;
        }

        if (!isIOS()) return;
        if (!document.querySelector('.aplayer, .meting-tag-marker, .aplayer-tag-marker')) return;

        function tryPlayOnce() {
            var list = window.aplayers || [];
            for (var i = 0; i < list.length; i++) {
                var ap = list[i];
                try {
                    if (!ap || typeof ap.play !== "function") continue;

                    var audio = ap.audio;
                    if (audio && !audio.__aplayerAutoplayHooked) {
                        audio.__aplayerAutoplayHooked = true;
                        audio.addEventListener("play", function () {
                            cleanup();
                        }, { once: true });
                    }

                    ap.play();
                    return true;
                } catch (e) {}
            }
            return false;
        }

        var done = false;
        function cleanup() {
            if (done) return;
            done = true;
            document.removeEventListener("touchstart", handler, true);
            document.removeEventListener("touchend", handler, true);
            document.removeEventListener("click", handler, true);
        }

        function handler() {
            if (done) return;
            tryPlayOnce();
        }

        document.addEventListener("touchstart", handler, { capture: true, passive: true });
        document.addEventListener("touchend", handler, true);
        document.addEventListener("click", handler, true);
    })();
</script>

<script>
    (function () {
        var shortname = "<%= config['disqus_username'] %>";
        if (!shortname) return;

        var el = document.getElementById("disqus_thread");
        if (!el) return;

        window.disqus_shortname = shortname;
        window.disqus_identifier = el.getAttribute("data-disqus-identifier") || "<%= page && page.permalink ? page.permalink : '' %>";
        window.disqus_url = el.getAttribute("data-disqus-url") || "<%= page && page.permalink ? page.permalink : '' %>";
        if (!window.disqus_identifier) window.disqus_identifier = location.href.split("#")[0];
        if (!window.disqus_url) window.disqus_url = location.href.split("#")[0];

        if (window.DISQUS) return;
        var dsq = document.createElement("script");
        dsq.async = true;
        dsq.src = "https://" + shortname + ".disqus.com/embed.js";
        (document.head || document.body).appendChild(dsq);
    })();
</script>
