<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword"  content="<%= config.keyword %>">
    <link rel="shortcut icon" href="<%= config.root + (config.brand.favicon || 'img/header.jpg') %>">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>
        <% if (page.title) { %>
          <%= page.title + ' - ' + config.SEOTitle %>
        <% } else{%>
          <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>">

    <% var v = (theme && theme.asset_version) ? theme.asset_version : ''; %>
    <% var vs = v ? ('?v=' + v) : ''; %>

    <link rel="preconnect" href="https://cdn.staticfile.org" crossorigin>
    <link rel="dns-prefetch" href="//cdn.staticfile.org">
    <link rel="preconnect" href="https://buttons.github.io" crossorigin>
    <link rel="dns-prefetch" href="//buttons.github.io">

    <link rel="stylesheet" href="<%= url_for('css/bootstrap.min.css') %><%= vs %>">

    <link rel="stylesheet" href="<%= url_for('css/highlight.css') %><%= vs %>">

    <link rel="stylesheet" href="<%= url_for('css/base.css') %><%= vs %>">

    <link rel="stylesheet" href="<%= url_for('css/navbar.css') %><%= vs %>">

    <link rel="stylesheet" href="<%= url_for('css/typography.css') %><%= vs %>">

    <link rel="stylesheet" href="<%= url_for('css/post-list.css') %><%= vs %>">

    <link rel="stylesheet" href="<%= url_for('css/aplayer.css') %><%= vs %>">

    <link rel="stylesheet" href="<%= url_for('css/components.css') %><%= vs %>">

    <% if (page && page.layout === 'tags') { %>
    <link rel="stylesheet" href="<%= url_for('css/tags.css') %><%= vs %>">
    <% } %>

    <link href="https://cdn.staticfile.org/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
