<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword"  content="<%= config.keyword %>">
    <link rel="shortcut icon" href="<%= config.root + (config.brand.favicon || 'img/header.jpg') %>">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>
        <% if (page.title) { %>
          <%= page.title + ' - ' + config.SEOTitle %>
        <% } else{%>
          <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>">

    <%- css('css/bootstrap.min.css') %>

    <%- css('css/highlight') %>

    <%- css('css/base')%>

    <%- css('css/navbar')%>

    <%- css('css/typography')%>

    <%- css('css/post-list')%>

    <%- css('css/aplayer')%>

    <%- css('css/components')%>

    <% if (page && page.layout === 'tags') { %>
    <%- css('css/tags')%>
    <% } %>

    <link href="https://cdn.staticfile.org/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script></script>
</head>
